@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #5c5c5c;
  --primary-yellow: #ebc858;
  --primary-green: #00baa3;
  --secondary-orange: #eb8958;
  --dark-grey: #2d2d2d;
  --error-red: #d55342;
  --light-bg: #f9f9f9;
}

@theme inline {
  --color-primary-yellow: var(--primary-yellow);
  --color-primary-green: var(--primary-green);
  --color-secondary-orange: var(--secondary-orange);
  --color-dark-grey: var(--dark-grey);
  --color-error-red: var(--error-red);
  --color-light-bg: var(--light-bg);

  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-grey);
  font-weight: 700;
}